*

!nvim/
!nvim/**
lazy-lock.json

!alacritty/
!alacritty/**

!emacs/
!emacs/**
emacs/eln-cache
emacs/straight
emacs/tree-sitter
emacs/recentf
emacs/places
emacs/history
emacs/auto-save-list
emacs/url
emacs/projectile-bookmarks.eld
emacs/*.elc
emacs/tramp
emacs/games
emacs/projects
emacs/eshell
emacs/elpa

!i3/
!i3/**

!frametee/
!frametee/**
frametee/cache
frametee/skins

!keyd/
!keyd/**

!boomer/
!boomer/**

!.zshrc
!update_mirrors.sh
/emacs/transient/

*.bak
*~.*
\#*\#
